/* Main section */
.text-sect h1 {
  font-family: "Playwrite GB S";
  color: var(--primary-text-color);
}
.text-sect {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: clamp(0.8rem, 20px, 2rem);
  width: 90%;
  margin: 1rem auto;
}

/* contact box styling */
.contact-box {
  background-image: linear-gradient(to bottom, var(--blue-backdrop), #64582338);
  color: var(--secondary-text-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  text-align: center;
}
.contact-box h3 {
  font-family: "Playwrite GB S";
  font-size: clamp(1.4rem, 20px, 2rem);
  margin-bottom: 2rem;
}

.contact-box button {
  background-color: var(--accent-color);
  width: 15%;
  transition: all 0.2s ease-out;
}
.contact-box button:hover {
  transform: scale(1.05);
  border: 2px solid var(--header-text-color);
}
.contact-box input,
textarea {
  border-radius: 6px;
  width: 50%;
  text-align: center;
  margin: 6px;
}
.contact-box img {
  width: 50%;
  margin: 0 auto;
}
/* Tablet View */

@media screen and (min-width: 431px) and (max-width: 1024px) {
  .text-sect {
    width: 60%;
  }
  .contact-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    height: 35rem;
  }
  .contact-box img {
    width: 30%;
    margin: 0 auto;
  }
}

/* DESKTOP VIEW */

@media screen and (min-width: 1024px) {
  .text-sect {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1rem auto;
  }
  .contact-box {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 30% 1fr;
    grid-template-areas:
      "title title"
      "form palm-tree";
    width: 60%;
    margin: 0 auto;
    height: 30rem;
  }
  .contact-box h3 {
    grid-area: title;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .contact-box input,
  textarea {
    border-radius: 6px;
    width: 80%;
    max-width: 400px;
    text-align: start;
  }
  .contact-box form {
    text-align: start;
    width: 100%;
    grid-area: form;
  }
  .contact-box img {
    grid-area: palm-tree;
    width: 80%;
  }
}
