/* Main section */
.hero-text h1 {
  font-family: "Playwrite GB S";
  color: var(--primary-text-color);
}

/* card stylization */
.cards {
  background-image: linear-gradient(to bottom, #1c5a83, #02060e);
}
.card-header {
  font-family: "Playwrite GB S";
  color: var(--header-text-color);
}
.gallery-grid {
  margin-bottom: 4rem;
}

/* Desktop View */
@media screen and (min-width: 1024px) {
  .gallery-grid {
  }
}
