:root {
  --primary-backdrop: #702e2e;
  --primary-text-color: #240000;
  --secondary-text-color: #ffffff;
  --header-text-color: #ffae00;
  --secondary-backdrop: #3d1b1b;
  --accent-backdrop: #200b0b;
  --accent-color: #7da3b4;
}

/* universal styling for all htmls */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 245, 232);
}
h1,
h2,
h3,
h4 {
  font-family: "Playwrite GB S", sans-serif;
}

p,
li {
  font-family: "Raleway";
}

/* header styling */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: var(--secondary-backdrop);
}
header h1 {
  display: none;
  color: var(--secondary-text-color);
  font-size: 38px;
}
header li {
  color: var(--secondary-text-color);
}
header .header-nav .nav-buttons {
  background-color: var(--accent-color);
  font-size: 24px;
  padding: 5px;
  margin: 8px;
  border-radius: 12px;
  color: #200b0b;
}
header .logo-container {
  background-color: var(--accent-backdrop);
  width: 10rem;
  padding: 2rem;
  border-radius: 100%;
  margin: 1rem;
}

header .burger-nav {
  width: 4rem;
  margin-bottom: 1rem;
}
header .header-nav {
  display: none;
}
/* Tablet View */

@media screen and (min-width: 425px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    padding-left: 2rem;
  }
  header h1 {
    display: block;
  }
  header .burger-nav {
    display: none;
  }
  header .header-nav {
    display: flex;
  }
}

/* Desktop View */
@media screen and (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    padding-left: 2rem;
  }
  header h1 {
    display: block;
  }
  header .burger-nav {
    display: none;
  }
  header .header-nav {
    display: flex;
  }
}
